body{
    font-family: 'Roboto';
    font-style: normal;

}

.content{
    box-sizing: border-box;
    width: 1366px;
    height: 768px;
    padding-top: 51px;
    background-image: url(../img/background_milan.jpg);
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.header{
    margin: 0px 165px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}


.logo{
    display: flex;
}

.logo:hover{
    color: #F26522;
}

.logo_img{
    position: relative;
}

.logo:hover .logo_img{
    opacity: 0;
}

.logo_img_2{
    position: absolute;
    opacity: 0;
}

.logo:hover .logo_img_2{
    opacity: 1;
}


.logo_text{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-left: 10px;
}

.title_logo{
    font-size: 29px;
    line-height: 29px;
}

.subtitle_logo{
    font-size: 18px;
    line-height: 18px;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.contanct_link{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.contanct_link:hover{
    color:  #F26522;
}

.container_main_content{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(2,1fr);
    column-gap: 60px;
    row-gap: 37px;
    margin: 26px auto 49px;
    width: 1030px;
}







.main_content_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    position: relative;
    left: 0;
    bottom: 0;
 }

.main_content_item:hover .item_text{
    color: #F26522;
}



.item_img{
    border: 2px solid;
    border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0) 100%);  
}

.item_text{
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.main_item_hover{
    height: 55px;
    width: 100%;
    background-color: #F26522;
    position: absolute;
    top: 165px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transform: translateY(50px);
    transition: 0.1s;
    opacity: 0;
    font-weight: 400;


}

.main_content_item:hover .main_item_hover{
    transform: translateY(0px);
	opacity: 1;
}

.main_item_hover div{
    display: flex;
    flex-direction: column;
}

.left_part_hover{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 7px;
    margin-left: 16px;
}

.left_part_hover p:nth-child(1) {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.prise_hover{
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 7px;
}

.detail{
font-size: 14px;
line-height: 14px;
margin-right: 14px;
margin-bottom: 7px;
}

.detail::after {
    content: ">";
    margin-left: 16px;
}


.footer{
    text-align: center;
    margin-bottom: 15px;
}

.footer_text{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

}